/*============================================================================
Colors Style Sheet

Author:  Antwan Foster, Software Engineer
E-mail:  Antwan3000@gmail.com
website:  www.antwanfoster.com

Date:  February 4, 2008

Desctiption:
The CSS code is for color styling of all elements 
=============================================================================*/

/* Whole document
===========================*/
body{
	color: #444;
	background-color: #fff;
}

/* Headers
===========================*/
.home #pageheading h2 {
	background: #fff url(../images/welcome.png) no-repeat left top;
}
.about #pageheading h2 {
	background: #fff url(../images/aboutus.png) no-repeat left top;
}
.ministries #pageheading h2 {
	background: #fff url(../images/ministries.png) no-repeat left top;
}
.services #pageheading h2 {
	background: #fff url(../images/services.png) no-repeat left top;
}
.contact #pageheading h2 {
	background: #fff url(../images/contact.png) no-repeat left top;
}

/* Navigations
===========================*/
a{
	color: #6f2a9c;
}
a:hover{
	color: #006937;
}

#search input[type="text"]:focus {
	border: .2em solid #33cc00;
}


/* Content
===========================*/
.conceptBox p {
}

/* Copyright & Stamp
===========================*/
#copyright {
	color: #999;	
}