@charset "UTF-8";
/*===========================================================================
Font Style Sheet


Author:  Antwan Foster, Software Engineer
E-mail:  Antwan3000@gmail.com
website:  www.antwanfoster.com

Date:  February 4, 2008

Desctiption:
The CSS code is for controlling the fonts for LMPGMinistries.org 
=============================================================================*/

/* Whole document
===========================*/
body{
	font: 62.5% Verdana, sans-serif;
	word-spacing: normal;
}

/* Headers & Search box
===========================*/
#search input[type="text"], #searchInput {
	font-size: 105%;
}

/* Navigations
===========================*/
#footer_nav {
	word-spacing: .15em;
	font-size: 105%;
}

/* Content
===========================*/
.conceptBox p {
	font-size: 1.3em;
	line-height: 2.5em;
	letter-spacing: .07em;
	font-variant: small-caps;
	color: #444;
	font-weight: normal;
}
#scripture {
	font: italic 125% "Times New Roman", Times, serif;
}
#scripture dt {
	text-align: right;
	font-weight: 500;
}
.section dt {
	font-size: 140%;
	font-weight: bold;
}
.section dd p {
	font-size: 110%;
	line-height: 1.7em;
}

/* Copyright & Stamp
===========================*/
#copyright {
	font-size: 1em;
}
